/*BORDERBOX*/
* {
  /*bxz*/
  /*the box size include margin and border*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*RESET*/
header, body, footer, ul, li, p {
  padding: 0px;
  margin: 0px auto;
}

/*
background_color: #E6E6E6 rgb: 230,230,230
light_colorcolor: #A6EEFF
principal_color: #07D0FF
dark_blue_color: #333399
*/

/*GENERAL*/
body{
  font-family: 'Roboto Condensed', sans-serif;
}
html{
  background-color: #E6E6E6;
  font-family: 'Roboto Condensed', sans-serif;
}

/*HEADER*/
header{
    text-align: center;
}
    header h1{
      font-size: 3rem;
      display: inline-block;
      padding-right: 20px;
    }
    header h2{
      font-size: 2rem;
      display: inline-block;
      text-align: center;
    }
    .logo-head{
      height: 122px; /*!!!!!!!!!I've to put the image height to avoid a blank space. I don't know why :( */
      border: 1px solid #E6E6E6;/*CHEAT: to hide the grey borders of the menu's sides*/
    }

/*GENERAL TEXT*/
article {
    margin-top: 20px;/*CUIDADO CON ESTO************/
}
  article p{
    font-size: 1rem;
    padding: 10px 5px 10px 5px;
  }
  article h4 a,
  article h4 a:link,
  article h4 a:visited,
  article h4 a:hover,
  article h4 a:active{
    text-decoration: none;
    color: #333399;
  }
  .readmore{
    font-size: 0.8rem;
    text-decoration: none;
    text-align: right;
    display: block;
  }
  article li{
    list-style-position: inside;
  }

/*CONTENT & NEWS*/
.content h1,
.content-left h1,
.content h2, /*I don't know why, but in the principal page the title has h1, but the other has h2 instead*/
.content-left h2,
.news h3{
  font-size: 1.2rem;
  font-weight: bold;
  color: #333399;
  background-color: #07D0FF;
  padding: 4px 10px 3px 10px;
  box-shadow: 0px 3px 4px -1px rgb(0,0,0,0);
  border: 1px solid #E6E6E6;/*CHEAT: to hide the grey borders of the menu's sides*/
}
.news h4{
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0px;
  padding-top: 5px;
}

/*NAV IN MAIN MENU*/
.nav.menu{
  width: 100%;
  padding: 0px;
  background-color: #07D0FF;
  font-weight: 600;
    color: #333399;
}
.nav.menu a,
.nav.menu a:link,
.nav.menu a:visited,
.nav.menu a:hover,
.nav.menu a:active{
  text-decoration: none;
  color: #333399;
}
ul.nav.menu{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		margin: 0;
		padding: 0;
	}
  ul.nav.menu > li{
    flex: 0 1 auto;
    flex-grow: 1;
    margin: 0;
    line-height: 1.6rem;
    position: relative;
    font-weight: 600;
    /*transition: all linear 1s;*/
    background-color: #00CCFF;
    border: 1px solid #E6E6E6;
    text-align: center;
  }
  ul.nav.menu > li:hover{
      background-color: rgba(255, 255, 255, 0.5);
  }
  ul.nav.menu > li.parent{/*the menus with submenus belongs to the class 'parent'*/
    padding-right: 20px;/*this is for the down arrow*/
  }
  ul.nav.menu > li.parent::before{
    content: "\25BC";/*this is the down arrow*/
    position: absolute;
    right: 3px;
    font-size: 0.6rem;
 }
    ul.nav.menu > li > a,
    ul.nav.menu > li > span{
      text-decoration: none;
      display:block;
      width:100%;
      height:100%;
    }
       ul.nav.menu > li > a + ul,
       ul.nav.menu > li > span + ul{
         display: none;
         position: absolute;
         padding: 0;
         font-size: 0.9rem;
         list-style-type: none;
         background-color: #07D0FF;
         min-width: 100%;
         z-index: 10;
      }
       ul.nav.menu > li:hover > a + ul,
       ul.nav.menu > li:hover > span + ul{
         display: block;
         text-align: left;
      }
         ul.nav.menu > li > a + ul > li,
         ul.nav.menu > li > span + ul >li{
           margin: 0;
           padding: 5px 5px 1px 10px;
           border-bottom: 2px solid #E6E6E6;
        }
           ul.nav.menu > li > a + ul > li > a,
           ul.nav.menu > li > span + ul > li > a{
             display: block;
             text-decoration: none;
          }
          ul.nav.menu > li > a + ul > li:hover,
          ul.nav.menu > li > span + ul > li:hover{
            background-color: rgba(255, 255, 255, 0.5);
          }
.mainmenu a{
  text-decoration:none;
}

/*NEWS IN HOMEPAGE*/
.news{
   width: 100%; /*this is mandatory because the father layer is a flexbox*/
}
  .news ul{
    list-style-type: none;
  }
  .news li:nth-child(2n+1) {
    padding-left: 10px;
    padding-right: 5px;
  }
  .news li:nth-child(2n) {
    padding-right: 10px;
    padding-left: 5px;
  }

/*FOOTER*/
footer{
  background-color: #07D0FF;
  font-size: 0.7rem;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-top: 20px;/*CUIDADO CON ESTO************/
  box-shadow: 0px 3px 4px -1px rgb(0,0,0,0);
}
  footer .footer1{
    display: inline-block;
    padding-right: 5px;
  }
  footer .footer2{
    display: inline-block;
    padding-top: 5px;
  }
  footer img{
    max-height: 1.8rem; /*para que esto funcione bien el width y el height de la imagen no pueden estar en el HTML*/
    border-style: none;
    vertical-align: middle;
  }

/* RESPONSIVE
========================================================================= */

/* 320
------------------------------------------------------------------------- */
@media all and (min-width: 320px) {
  html{
    font-size: 1.05rem;
  }
  header{
    background-image: url('../images/sup-lit.png');
    background-size: cover;
  }
  /*GENERAL STRUCTURE*/
  .sidebar-right{
    display: none;
  }
}

/* 560 VERTICAL TABLET
------------------------------------------------------------------------- */
@media all and (min-width: 560px) {
  html{
    font-size: 1.05rem;
  }
  header{
    background-image: url('../images/sup-mid.png');
    background-size: cover;
    text-align: left;
  }
  /*GENERAL STRUCTURE*/
  .content-left{
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }
  .sidebar-right{
    width: 24%;
    display: inline-block;
    vertical-align: top;
  }
/*NEWS IN HOMEPAGE*/
/*EL MÓDULO TIENE QUE TENER EL LAYOUT VERTICAL*/
  .newsflash-vert{
    display: flex;
    flex-direction: row;
  }
}

/* 768 HORIZONATAL TABLET
------------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  html{
    font-size: 1.2rem;
  }
  header{
    background-image: url('../images/sup-big.png');
    background-size: cover;
    text-align: left;
  }
  /*GENERAL STRUCTURE*/
  .content-left{
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }
  .sidebar-right{
    width: 24%;
    display: inline-block;
    vertical-align: top;
  }
  /*NEWS IN HOMEPAGE*/
  /*IS MANDATORY THAT THE MODULE HAS THE LAYOUT IN VERTICAL*/
    .newsflash-vert{
      display: flex;
      flex-direction: row;
    }
}

/* 1280
------------------------------------------------------------------------- */
@media all and (min-width: 1000px) {
  html{
    font-size: 1.1rem;
  }
  body{
    width:1000px;
  }
  header{
    background-image: url('../images/sup-big.png');
    background-size: cover;
    text-align: left;
  }
  /*GENERAL STRUCTURE*/
  .content-left{
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }
  .sidebar-right{
    width: 24%; /*With 24% it dosn't work, why???*/
    display: inline-block;
    vertical-align: top;
  }
  /*NEWS IN HOMEPAGE*/
  /*EL MÓDULO TIENE QUE TENER EL LAYOUT VERTICAL*/
  .newsflash-vert{
    display: flex;
    flex-direction: row;
  }
  .newsflash-item{
    flex-grow: 1;
  }
}
